<!DOCTYPE html>
<html lang="en-us">

<head>
    <title><%= t('index.dashboard.pageTitle') %></title>
    
    <%- include('../includes/main-header.ejs') %>
</head>

<body>

    <%- include('../includes/left-navigation.ejs') %>

    <div id="main" role="main">      
        
        <%- include('../includes/ribbon.ejs') %>

    </div>

    <%- include('../includes/main-footer.ejs') %>

    <script type="text/javascript">
        $(function () {
            pageSetUp();
        });
    </script>
</body>

</html>